.faceImage {
    margin-top: 4vh;
    width: auto;
    height: 50vh;
    min-height: 200px;
    border-radius: 20px;
    }

@media only screen and (max-width: 1450px) {
    .faceImage {
    width: auto;
    height: 40vh;
    }
}

@media only screen and (max-width: 600px) {
    .faceImage {
    width: auto;
    height: 30vh;
    }
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }

